html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.logo img{
  width: 70px;
  height: 70px;
}
.contact{
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
  letter-spacing: 1px;
}
nav{
  background-color: rgb(33, 29, 83);
  padding: 10px;
  opacity: 0.8;
}
nav ul{
  display: flex;
  justify-content: flex-end;
}
nav ul a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 9px;
  text-align: center;
  padding: 0 20px;
  line-height: 1.3rem;
}
nav ul a:hover{
  opacity: 0.5;
}
nav li span{
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}
.key-visial img{
  width: 100%;
  height: 620px;
}
.inner{
  max-width: 1100px;
  margin: 0 auto;
}
#concept{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.title{
  font-size: 32px;
  letter-spacing: 1px;
  padding-bottom: 30px;
  color:  rgb(33, 29, 83);
  opacity: 0.8;
}
.left h3{
  font-size: 20px;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
}
.left p{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.4rem;
}
.left,.right{
  width: calc(( 100% - 40px ) /2);
}
.right img{
  width: 100%;
}
#salon{
  background-color: rgb(250, 248, 231);
  padding: 40px 0;
}
.container{
  display: flex;
  justify-content: space-between;
}
.container img{
  width: 350px;
  height: 200px;
}
.chiba,.soga{
  display: flex;
  width: calc(( 100% - 40px ) /2);
}
.text{
  padding: 30px 0 0 15px;
}
.text h4{
  font-size: 22px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.text p{
  line-height: 2rem;
}
.text a{
  display: block;
  text-decoration: none;
  color: #000;
}
#menu{
  padding: 40px 0;
}
#menu .title{
  padding-bottom: 50px;
}
.menu-wrapper{
  display: flex;
  justify-content: space-between;
}
.wrap{
  padding-left: 150px;
}
#menu h3{
  font-size: 25px;
  text-align: center;
  padding: 40px 0 20px;
}
table th{
  padding: 20px;
  font-size: 20px;
  border-bottom: 2px solid rgb(33, 29, 83);
  opacity: 0.8;
}
table td{
  padding: 10px 30px;
  font-size: 18px;
  border-bottom: 1px solid rgb(33, 29, 83);
}
.menu-picture{
  padding-top: 350px;
}
.menu-picture img{
  width: 350px;
  height: 300px;
  border-radius: 50%;

}
#infomation{
  background-color: rgb(250, 248, 231);
  padding: 40px 0px;
}
.contents{
  line-height: 2rem;
  border-bottom: 0.5px solid rgb(129, 128, 128) ;
  width: 600px;
  margin: 0 auto;
}
.contents a{
  text-decoration: none;
  color: rgb(104, 102, 102);
  font-size: 15px;
}
.contents span{
  padding-right:  70px;
}
.button-wrapper{
  text-align: center;
}
.button{
  border: 1px solid  rgb(33, 29, 83);
  background-color: rgb(33, 29, 83);
  opacity: 0.8;
  margin-top: 60px;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 2%;
  box-shadow: 10px 10px 10px rgba(33,29,83,0.5);
}
.button a{
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
}
.button:hover{
  opacity: 0.5;
}
#garalley{
  padding: 40px 0;
}
.item{
  display: flex;
  justify-content: space-around;
  padding: 50px 0 40px;
}
.style{
  width: calc((100% - 40px) / 3);
}
.style img{
  width: 100%;
}
#reserve{
  background-color: rgb(250, 248, 231);
  padding: 40px 0;
  color: rgb(104, 102, 102);
  line-height: 1.5rem;
}
.reception{
  text-align: center;
}
.reception span{
  font-size: 24px;
  letter-spacing: 1px;
}
.open{
  padding: 20px 0;
}
.footer{
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
}
.footer-nav{
  padding-top: 80px;
}
.footer-nav ul{
  list-style: none;
  display: flex;
}
.footer-nav li{
  padding: 0 10px;
}
.footer-nav a{
  text-decoration: none;
  font-size: 15px;
  color: rgb(33, 29, 83);
  opacity: 0.8;
}
.footer-nav a:hover{
  opacity: 0.5;
}
@media(max-width:1000px){
  nav ul a{
    font-size: 6px;
    padding: 0 10px;
  }
  nav li span {
    font-size: 10px;
}
  #concept {
    justify-content: center;
  }
  .menu-picture{
    display: none;
  }
  .container{
    flex-direction: column;
  }

  .chiba,.soga{
    width: 100%;
  }
  #salon,#menu,#infomation,#garalley,#reserve {
    padding: 40px 25px;
  }
}
@media(max-width:768px){
 
.key-visial img {
  height: 420px;
}
nav li span {
  display: none;
}
nav ul a {
  padding: 0 5px;
}
.menu-wrapper {
  text-align: center;
  justify-content: center;
}

.wrap{
  padding:0;
}
.contents {
  width: 80%;
}
table th {
  padding: 5px;
  font-size: 15px;
}
table td {
  padding: 10px 15px;
  font-size: 13px;
}
.footer {
  padding: 20px;
  justify-content: center;
}
.footer-logo img{
  width: 70px;
  height: 70px;
}
.footer-nav {
  padding-top: 40px;
}
.footer-nav a {
  font-size: 10px;
}
.footer-nav li {
  padding: 0 3px;
}
}
@media(max-width:600px){
  .key-visial img {
    height: 320px;
}
#concept.inner {
  flex-direction: column;
  padding: 40px 25px;
}
.right img,.chiba img,.soga img {
  width: 300px;
  height: 150px;
}
.left {
  width: 100%;
}
.chiba,.soga {
  flex-direction: column;
}
.footer {
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
}
.footer-nav{
  padding-top: 20px;
  margin: 0 auto;
}

}

@media (max-width: 350px){
nav{
  display: none;
}
}
